*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  
     body{
     text-align:flex; 
      border-style: groove;}
  
     .contenedor {
        display: grid;
        width: 80%;
        max-width: 1200px;
        margin: 20px auto;
        grid-gap: 40px;
        justify-content: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10rem 2rem 12rem 2rem ;
        grid-template-areas: "header header" 
                             "menu menu"
                             "main main"
                             "formulario formulario"
                             }

     h1{
     font-size: 5rem;
     font-style: italic;
     text-align: left;
     background: brown;
      }
                              
                              
     h2{
     font-style: italic;
     font-size: 2rem;
     text-align: left;
     background: brown;
     }

     /*---------------header---------*/

     .header{
        grid-area:header;
      
      }

     /*--------------menu-----------*/
     .menu{
        grid-area:menu;
        background: white;
        display: flex;
        justify-content: space-between;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 1rem;
      
       }

     /*-------------main----------*/

     .contacto{
        grid-area: main;
        text-align: center;
        font-style: italic;
        font-size: 1.5rem;
        align-items: center;
        background-color: brown;
        border-radius: 25% 10%;
     }

     /*------------formulario-------*/

     .formulario{
        grid-area:formulario ;
        background-color: white;
        justify-content: space-between;
        align-items:inline block;
        
     }


     /*----------footer----------*/
footer{
    align-items: center;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
          




